
mixin shot()
  template(type='amp-mustache')
    a.shot(href='{{ html_url }}', target='_blank')
      amp-img(src='{{ images.normal }}', width='160', height='120')
      span {{title}}

mixin tongue(tongue)
  li.card.card-half
    .item
      .square
        .square-main(style=`background: url('${tongue.flag.w150}') center center/cover no-repeat`)
      .item-data
        h2= tongue.title
        span.sub= tongue.level
        .chip-list
          each cert in tongue.certificates
            a.chip(href=cert.link, target='_blank')
              span= cert.title
              i.icon.icon-external-link

mixin project(project)
  li.project.card.card-half
    a.item(href=`/pages/${project.key}.html`)
      .square
        .square-main(style=`background-color: ${project.color}`)
          i(class=project.icon)
      .item-data
        h2= project.title
        span= project.description
      .item-action
        i.icon.icon-plus

mixin education(edu)
  li.education.card.card-half
    .item
      .square
        .square-main(style=`background-color: ${edu.color}`)
          i(class=edu.icon)
      .item-data
        h2= edu.title
        .edu-details
          span= edu.school + ' / ' + edu.dates.yEnd + ' / ' + edu.location
        .edu-desc.ssub
          span= edu.description
        .chip-list
          each link in edu.links
            a.chip(href=link.link, target='_blank')
              span= link.title
              i(style=`color: ${edu.color}`).icon.icon-external-link

mixin certification(cert)
  li.certification.card.card-half
    .item
      .square
        .square-main(style=`background-color: ${cert.color}`)
          i(class=cert.icon)
      .item-data
        if cert.title
          h2= cert.title
          .cert-details
            span= cert.organism
        else
          h2= cert.organism
        .chip-list
          each link in cert.links
            a.chip(href=link.link, target='_blank')
              span= link.title
              i(style=`color: ${cert.color}`).icon.icon-external-link

mixin network(network)
  li.nav-link
    a(href=network.link, target='_blank')
      i(class=network.icon)
      b(style=`background-color: ${network.color}`)

mixin skill(skill, fullWidth)
  li(class= fullWidth ? 'card' : 'card card-half')
    .item
      .square
        .square-main(style=`background-color: ${skill.color}`)
          i(class=skill.icon)
      .item-data
        h2= skill.title
        if skill.description
          span.skill-details= skill.description
        if skill.list
          .chip-list
            each skItem in skill.list
              span.chip= skItem
        if skill.technologies
          .chip-list
            each tech in skill.technologies
              span.chip
                if tech.icon
                  i(class= tech.icon, style=`color: ${skill.color}`)
                span= tech.title

mixin service(service)
  li.card.card-half
    .item
      .square
        .square-main(style=`background-color: ${service.color}`)
          i(class=service.icon)
      .item-data
        h2= service.title

mixin experience(exp)
  li.card
    .item.item-top
      .square
        .square-main(style=`background-color: ${exp.color}`)
          i(class=exp.icon)
      .item-data
        h2= exp.title
        span= exp.company + ' / ' + exp.location + ' / ' + exp.contract + ' / ' + exp.dates.yEnd
        h3 Technologies
        .chip-list
          each tech in exp.mainTechnologies
            .chip
              i(class= tech.icon, style= `color: ${exp.color}`)
              span= tech.title
        if exp.projects
          h3 Projects
          ul.card-half-list
            each project in exp.projects
              .card.card-half
                .indicator-parent
                  span.indicator
                    i(class= project.icon, style= `color: ${exp.color}`)
                  span
                    h4= project.name
                    if project.description
                      span= project.description
        h3 Tasks
        ul.tasks
          each task in exp.tasks
            li= task
    

mixin projectDetails(project)
  if project.top
    .card.card-top(style=`background-image: url("${project.top}"); height: 600px; background-size: cover; background-position: center center;`)
  .card
    .card-content(style=`background-image: linear-gradient(135deg, ${project.color} 60%, ${project.lighten})`)
      span.project.item
        .square
          .square-main(style=`background-color: var(--text)`)
            i(class=project.icon)
        .item-data
          h1= project.title
          span= project.description
  .card.project-detail-header
    .card-content
      h2 Summary
      .flex-container
        .fl1.project-mobile
          #phone(style=`border-color: ${project.color}`)
            amp-img.w-100(width=project.mobileProps.width, height=project.mobileProps.height, src=project.mobile, layout='responsive', lightbox)
        .fl1
          .my
            h3 Description
            span !{project.fullDescription}
          .my
            h3 Tags
            .chip-list
              each tag in project.tags
                span.chip
                  i.icon.icon-hashtag(style=`color: ${project.lighten}`)
                  span= tag
          .my
            h3 Links
            .chip-list
              each link in project.links
                a.chip(href=link.link, target='_blank')
                  i(class=link.icon, style=`color: ${project.lighten}`)
                  span= link.title
          .my
            h3 Technologies
            .chip-list
              each tech in project.technologies
                span.chip
                  i(class=tech.icon, style=`color: ${project.lighten}`)
                  span= tech.title
  each projectDetail in project.details
    .card
      .card-content
        h2= projectDetail.title
        .project-detail !{projectDetail.content}
